{% extends 'base.html' %}
{% load static %}

{% block title %}Liitmine{% endblock %}

{% block content %}
<center>
<br/><br/><br/>
<div class="container">
	{% if minu_vastus %}
	<div class='alert alert-{{ varv }} alert-dismissible fade show' role="alert">
      {{ minu_vastus }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

	<br/>
	<h1>{{ num_1 }} + {{ num_2 }}</h1>
	<br/><br/><br/>
<form action="{% url 'add' %}" method="POST">
	{% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Sisesta siia oma vastus" name="vastus">
    <input type="hidden" name="vana_num1" value="{{ num_1 }}">
    <input type="hidden" name="vana_num2" value="{{ num_2 }}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</center>
{% endblock %}
